<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <section>
    <div class="top">
        <h1>Must Read Collections</h1>
        <p>
            Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels
            from DC, Vertigo, DC Black Label and Milestone Media!
        </p>
    </div>
    <div class="comics">
        <a href="/" class="bookmarks">HOME PAGE</a>
        <a href="/comic1" class="bookmarks">SUPERMAN VS SHAZAM</a>
        <a href="/comic2" class="bookmarks">THE JOKER</a>
        <a href="/comic3" class="bookmarks">WONDER WOMAN</a>
        <a href="/comic4" class="bookmarks">FALLEN ANGEL</a>
        <a href="/comic5" class="bookmarks">RED HOOD:OUTLAW</a>
    </div>
    <header>
      <img src="https://coliseumofcomics.com/wp-content/uploads/2014/12/DC-Banner1-e1420485607984.jpg" alt="" width="100%">
    </header>
  </section>
  
</body>
</html>